body {
  margin: 0 2em 0 2em;
  background-color: #e1bee7;
}

h1, h4, h5, p {
  color: #5d5d5d;
}

a:link, a:visited {
  color: #e5acb6;
}

.fab {
  color: #5d5d5d;
  text-align: center;
}

.pic {
  margin: 1em 0 1em 0;
}